.loader{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(236, 232, 232);
    z-index: 50;

}
.loader.show{
    display: none;
}
.spin{
   width: 70px;
   height: 70px;
   border: 8px solid white;
   border-right: 8px solid rgb(64, 211, 64);
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   animation-name: rotate;
   animation-timing-function: linear;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%) ;
   -webkit-transform:translate(-50%,-50%) ;
   -moz-transform:translate(-50%,-50%) ;
   -ms-transform:translate(-50%,-50%) ;
   -o-transform:translate(-50%,-50%) ;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}