.movieDesDisplay{
    width: auto;
    min-height:10vh;
    background:linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
}
@media screen and (max-width:850px){
  .movieDesDisplay{
    width: 90%;
    transform: translate(-43%);
  }
    
}