.movieDesDisplay{
    width: auto;
    min-height:10vh;
    /* background:linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)); */
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%,41%);
    color: white;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    z-index: 10;
}
@media screen and (max-width:850px){
  .movieDesDisplay{
    width: 100%;
  }
    
}
@media screen and (max-width:600px){
  .movieDesDisplay{
    width: 100%;
  }
  body{
    overflow-y:scroll;
  }
    
}
