@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}
html,body{
    overflow-x: hidden;
    background:var(--background);
    height: 100%;
    max-width: 100vw;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
:root{
    --boxShadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    --background:linear-gradient(to right, #243B55, #141E30);
}
::-webkit-scrollbar {
    width: 12px;
}
    
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /* border-radius: 10px; */
}
 
::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.side-nav{
    height: 50px ;
    width: 100%;
    /* background:var(--background); */
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.5s linear;
    z-index: 12;
    box-shadow: var(--boxShadow);
    overflow: hidden;
}
.logo{
    height: 100%;
    width: 230px;
    color :white;
    position: absolute;
    top: 0;
    left: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h3{
    height: 100%; width: 100%;
}
.one{
    color: black;
    font-size: 30px;
}
h5{
    color: white;
    text-decoration: underline;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}
h5.toggle{
    font-size: 16px;
    visibility: visible;
}
/* .category{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 540px;
    left: 0;
}

.category p{
    visibility: visible;
}

.category li{
    list-style: none;
    height: 50px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align:center;
    cursor: pointer;
    transition: all 0.2s linear;
    /* visibility: hidden; */
    /* font-size: 18px; */
 */
.category li.toggle{
    visibility: visible;
}
.category li:hover{
    color: royalblue;
}
.navigation{
    height:100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 12px;
}
.navigation > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.navigation i{
    color: black; 
}
.navigation > div p{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navigation > div p.show{
    display: flex;
    width: 100%;
}
i{
    /* height: 100%; */
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.burgerContainer{
    width: 50px;
    height: 45px;
    position: absolute;
    right: 5px;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.burgerContainer.toggle{
    display: none;
}
.line{
    width: 75%;
    height: 4px;
    background: white;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
    position: relative;
}

/* media queries */
@media screen and (max-width:550px){
    .burgerContainer{
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        display: flex;
        z-index: 10;
    }
    .side-nav{
        overflow: initial;
    }
    .navigation{
        height: 400px;  
        width: 100%;
        background: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* left: 50%; */
        transform: translate(0,-100%);
        box-shadow: var(--boxShadow);
        transition: all 0.5s ease;
        /* visibility: hidden;   */
        animation-name: dropIn;
        animation-timing-function: ease;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .navigation.show{
        padding: 10px 0 0 0;
        /* visibility: visible; */
        animation-name: dropOut;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        /* animation-direction: normal; */
    }
    /* .navigation p{
        visibility: hidden;
    }
    .navigation.show p{
        height: 50px;
        visibility: visible;
    } */
    
    }
    @keyframes dropIn{
        0%{
            transform: translateY(-100%);
        }
        25%{
            transform: translateY(-50%);
        }
        50%{
            transform: translateY(0%);
        }
        75%{
            transform: translateY(2%);
        }
        100%{
            transform: translateY(0%);
        }
    }
    @keyframes dropOut{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-100%);
        }
        
    }




/* Slider styles */
.slider{
    height: 390px;
    width:100%;
    position: absolute;
    top: 30px;
    right:0;
    padding: 10px 0 10px 0;
    overflow: hidden;
    overflow-x: scroll;
}
.slide{
    height: 100%;
    width: auto;
    display: inline-flex;
    /* align-items: center; */
    padding: 10px 0 10px 0;
    overflow: hidden;
    overflow-x:scroll;
    transition: all 0.5s linear;
}
.previews{
    height: 100%;
    width: 240px;
    margin: 10px;
    position: relative;
}
.t{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,-42%);
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previews img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px){
   .slider{
       height: 300px;
       width: 100%;
   }

    .previews{
        width: 150px;
    }
}


/* Movies */
.movies-container{
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 400px;
    padding: 10px 10px 10px 10px;
    transform: translate(-50%);
}
nav{
    height: 130px;
    width:100% ;
    list-style: none;
    display: flex;
    border-radius: 10px;
    border: 1px solid white;
    /* padding: 5px 5px 5px; */
    flex-wrap: wrap; 
}
nav li{
    height: 30px;
    width: 120px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
.movies-container{
        position: absolute;
        right: 0;
        top:400px;
        width: 100%;
        min-height: 60vh;
}
.movieContainer{
    position: absolute;
    left: 50%;
    top:200px;   
    transform: translate(-50%);        
    width: 100%;
    min-height: 60vh;
}
.movie{
    width: 200px;
    height: 350px;
    border: 1px solid #437cb6;
    border-radius:10px;
    padding: 5px 5px 5px 5px;
    float:left;
    margin: 6px 6px 6px 6px ;
}
.movie img{
    height: 270px;
    width: 100%;
    border-radius: 10px;
}
.movie p{
    color: white;
    font-size: 15px;
}

.movie a{
    text-decoration: underline;
    color: royalblue;
    cursor: pointer;
}
.movieContainer i{
    font-size: 18px;
}
.movieContainer i:hover{
    color: royalblue;
}
@media screen and (min-width:800px){
    .movies-container{
        top: 400px;
        width: 100%;
    }
    nav{
        width:99%;
        overflow: hidden;
    }
    .movieContainer{
        width: 100%;
        top: 30px;
    }
}
@media screen and (max-width:850px){
    .movies-container{
        top: 400px;
        width: 100%;
    }
    nav{
        width:99%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .movieContainer{
        width: 100%;
        top: 10px;
    }
}
@media screen and (max-width:600px){
    .movies-container{
        top: 300px;
        width: 100%;
    }
    nav{
        width:100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav li{
        font-size: 13px;
        width: 100px;
    }
    .movieContainer{
        width: 100%;
       display: grid;
       grid-template-columns:50% 50%;
        top: 10px;
        align-items: center;
        justify-content: center;
    }
    .movie{
        height: 350px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:480px){
    .movies-container{
        top: 300px;
        width: 100%;
    }
    nav{
        width:100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav li{
        font-size: 13px;
        width: 100px;
    }
    .movieContainer{
        width: 100%;
        top: 10px;
        margin: 5px 5px 5px 5px;
        padding: 0;
    }
    .movie{
        width: 90%;
        margin: 10px 10px 10px 10px;
    }
}
@media screen and (max-width:451px){
    .movies-container{
        top: 300px;
        width: 100%;
    }
    nav{
        width:100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav li{
        font-size: 13px;
        width: 100px;
    }
    .movieContainer{
        width: 100%;
        top: 20px;
        display: grid;
        /* grid-template-columns: 100%; */
    }
    .movie{
        margin: 10px 10px 10px 10px;
        width: 100%;
        height: 330px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
    }
}