@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    /* overflow: hidden; */
    background:linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.side-nav{
    height: 100vh ;
    width: 83px;
    background:linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s linear;
    z-index: 10;
}
.side-nav.toggle{
    width: 400px;
    transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.navigation{
    height:300px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 12px 0 12px;
}
.navigation > div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.navigation > div p{
    height: 100%;
    width: auto;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.navigation > div p.show{
    display: flex;
}
i{
    /* height: 100%; */
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.burgerContainer{
    width: 50px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 75%;
    height: 4px;
    background: white;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
    position: relative;
}
.line.animate:nth-child(1){
    transform: rotate(30deg);
    transition: all 0.5s linear;
}
.line:nth-child(1){
    transform: rotate(0deg);
    transition: all 0.5s linear;
}
.line.animate:nth-child(3){
    transform: rotate(-30deg);
    transition: all 0.5s linear;
}
.line:nth-child(3){
    transform: rotate(0deg);
    transition: all 0.5s linear;
}
/* media queries */
@media screen and (max-width:480px){
    .side-nav{
        width: 50px;
    }
    .side-nav.toggle{
        width: 100vw;
    }
    .burgerContainer{
        left: 25px;
        transform: translate(-50%);
    }
    .burgerContainer.toggle{
        left: 25px;
    }
    .navigation > div p{
        height: 100%;
        width: auto;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .navigation > div p.show{
        display: flex;
    }
}


/* Slider styles */
.slider{
    height: 400px;
    width: 90vw;
    position: absolute;
    top: 0;
    right:0;
    float: left;
    /* align-items: center; */
    flex-direction: column;
    padding: 10px 0 10px 0;
    overflow: hidden;
    overflow-x: scroll;
}
.slide{
    height: 100%;
    width: auto;
    display: flex;
    /* align-items: center; */
    padding: 10px 0 10px 0;
    overflow: hidden;
    overflow-x:scroll;
    /* transform: translateX(10%); */
    transition: all 0.5s linear;
}
.previews{
    height: 100%;
    width: 250px;
    margin: 10px;
}
.previews img{
    width: 100%;
    height: 100%;
}
.left,.right{
    height: 360px;
    width: 50px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.left{
    left: 0px; 
}
.left i,.right i{
    color: white;
}
.right{
    right: 0px;
}
@media screen and (max-width: 600px){
   .slider{
       height: 300px;
   }
   .right , .left {
       top: 19px;
       height: 261px;
       width: 30px;
   }
   .left{
       left:45px;
   }
    .previews{
        width: 150px;
    }
}


/* Movies */
.movies-container{
    width: 94vw;
    height: auto;
    position: absolute;
    right: 0;
    top: 400px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 15px;
}
nav{
    height: 130px;
    width:100% ;
    list-style: none;
    display: flex;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 5px 5px;
    flex-wrap: wrap; 
}
nav li{
    height: 30px;
    width: 120px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
.movies-container{
        /* overflow-y: scroll; */
        position: absolute;
        right: 0;
        top:400px;
        width: 94vw;
        min-height: 60vh;
        padding: 0 10px 0 10px;
}
.movieContainer{
    /* overflow-y: scroll; */
    position: absolute;
    right: 0;
    top:120px;
    width: 100%;
    min-height: 60vh;
    padding: 0 10px 0 10px;
}
.movie{
    width: 200px;
    height: auto;
    border: 1px solid white;
    border-radius:10px;
    padding: 5px 5px 5px 5px;
    float:left;
    margin: 5px 5px 5px 5px;
}
.movie img{
    height: 270px;
    width: 100%;
    border-radius: 10px;
}
.movie p{
    color: white;
}
.movie a{
    text-decoration: underline;
    color: royalblue;
    cursor: pointer;
}
.movieContainer i:hover{
    color: royalblue;
}
@media screen and (min-width:850px){
    .movies-container{
        top: 400px;
        width: 92vw;
    }
    nav{
        width:99%;
        overflow: hidden;
    }
    .movieContainer{
        width: 100%;
        padding: 0 20px 0 20px;
        top: 130px;
    }
}
@media screen and (max-width:850px){
    .movies-container{
        top: 400px;
        width: 85vw;
    }
    nav{
        width:99%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .movieContainer{
        width: 100%;
        padding: 0 20px 0 20px;
        top: 130px;
    }
}
@media screen and (max-width:600px){
    .movies-container{
        top: 300px;
        width: 85vw;
    }
    nav{
        width:99%;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav li{
        font-size: 13px;
        width: 100px;
    }
    .movieContainer{
        width: 100%;
       display: grid;
       grid-template-columns:50% 50%;
        top: 130px;
    }
    .movie{
        height: 350px;
    }
}
@media screen and (max-width:480px){
    .movies-container{
        top: 300px;
        width: 85vw;
    }
    nav{
        width:99%;
        overflow: hidden;
        overflow-y: scroll;
    }
    nav li{
        font-size: 13px;
        width: 100px;
    }
    .movieContainer{
        width: 100%;
        /* padding: 0 10px 0 10px; */
        top: 130px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}